doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/style.css")
  body
    header.p-3.text-bg-dark
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          a(href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none")
            svg.bi.me-2(width="40" height="32" role="img" aria-label="Bootstrap")
              use(xlink:href="#bootstrap")
          ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
            li
              a(href="/shop" class="nav-link px-2 text-secondary") Home
            li
              a(href="/add-product"  , class=(path==='/add-product' ? 'active' : '') class="nav-link px-2 text-white") Add product
            li
              a(href="#" class="nav-link px-2 text-white") Pricing
            li
              a(href="#" class="nav-link px-2 text-white") FAQs
            li
              a(href="#" class="nav-link px-2 text-white") About
          form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role="search")
            input.form-control.form-control-dark.text-bg-dark(type="search" placeholder="Search..." aria-label="Search")
          .text-end
            button.btn.btn-outline-light.me-2(type="button") Login
            button.btn.btn-success(type="button") Sign-up

            block content

        script(src="/js/bootstrap.bundle.min.js")
